/*body for all pages*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
 
 /**************************** styling for the index.html file (main page) *************************/
.header {
  background: #1abcbc;
  color: white;
  padding: 80px;
  text-align: center;
}
 
.header h1 {
  font-size: 40px;
}

#welcome-container {
  border: 2px solid #FF9F55;
  border-radius:5px;
  font-size:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  padding:10px;
  text-align:center;
  width:30%;
}

#intro{
  padding-bottom:1000px;
  padding-left:100px;
  padding-right:100px;
  font-size:20px;
  text-align:center;
}

#intro p {
  padding-bottom:60px;
}
 
 /************************* styling for the navbar.html file **************************/
/* Style the top navigation bar */
.navbar {
  background-color: #333;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  overflow: hidden;
}
 
/* Style the navigation bar links */
.navbar a {
  color: white;
  display: block;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}
 
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
 
  /************************* styling for the footer.html file **************************/
.footer {
  background: #ddd; 
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding: 20px; 
}


.btn-group button {
  background-color: #1abcbc; 
  border: 1px solid black; 
  color: white; 
  cursor: pointer; 
  float: left; 
  padding: 10px 24px; 
}
 
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
 
/* Clear floats (clearfix hack) */
.btn-group:after {
  clear: both;
  content: "";
  display: table;
}
 
/* Add a background color on hover */
.btn-group button:hover {
  background-color: #158b8b;
}

 /************************* Style for the image gallery in background.html **************************/
.gallery{
  align-items: center; /* align vertical */
  display: flex;
  justify-content: center; /* align horizontal */
  padding-top:40px;
}

.picture {
  border: 1px solid #ccc;
  float: left;
  margin: 5px;
  width: 310px;
}

.picture:hover {
  border: 1px solid #777;
}

.picture img {
  height: auto;
  width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}


 /************************* Style for the timeline in projects.html **************************/
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  background-color: #1abcbc;
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: 0;
  width: 6px;
}

/* Container around content */
.container {
  background-color: inherit;
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  background-color: white;
  border: 4px solid #FF9F55;
  border-radius: 50%;
  content: '';
  height: 25px;
  position: absolute;
  right: -17px;
  top: 15px;
  width: 25px;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  border: medium solid white;
  border-color: transparent transparent transparent #1abcbc;
  border-width: 10px 0 10px 10px;
  content: " ";
  height: 0;
  position: absolute;
  right: 30px;
  top: 22px;
  width: 0;
  z-index: 1;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  border: medium solid white;
  border-color: transparent #1abcbc transparent transparent;
  border-width: 10px 10px 10px 0;
  content: " ";
  height: 0;
  left: 30px;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  background-color: #1abcbc;
  border-radius: 6px;
  padding: 20px 30px;
  position: relative;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    padding-left: 70px;
    padding-right: 25px;
    width: 100%;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    border: medium solid white;
    border-color: transparent white transparent transparent;
    border-width: 10px 10px 10px 0;
    left: 60px;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }